<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="game--box">
        <h2>YOU WIN!</h2>
        <p>
            Congrats, you've made a profitable investment!
            <br>Adventuring is a fool's game when you're loaded.
            <br>Welcome to the free market baby.
        </p>
        <div class="btn--box">
            <a href="/start"> Run it Back</a>
        </div>
    </div>
</body>

</html>